<div class="images">
  <div class="flex-container">
    <img src="https://www.lovethispic.com/uploaded_images/113141-Pink-Wedding-Flowers.jpg">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuNxpiYJvMMuO0JtUE8jnaskJs5LCsAw_0DASFYX5VGw1ogtwJSA&s">
    <img src="https://www.lovethispic.com/uploaded_images/113141-Pink-Wedding-Flowers.jpg">

  </div>
  <div class="flex-container">
    <img src="https://www.lovethispic.com/uploaded_images/113141-Pink-Wedding-Flowers.jpg">
    <img
      src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSuNxpiYJvMMuO0JtUE8jnaskJs5LCsAw_0DASFYX5VGw1ogtwJSA&s">
    <img src="https://www.lovethispic.com/uploaded_images/113141-Pink-Wedding-Flowers.jpg">

  </div>
</div>