<div class="flex-container">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, a rerum sint deserunt exercitationem consequuntur
    vel. Ullam, eius. Asperiores praesentium numquam corrupti iusto soluta eum animi quam eveniet accusamus porro.
  </p>
  <fa-icon [icon]="faHeart" #r (click)="liked(r,$event)"></fa-icon>
</div>
<div class="flex-container">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, a rerum sint deserunt exercitationem consequuntur
    vel. Ullam, eius. Asperiores praesentium numquam corrupti iusto soluta eum animi quam eveniet accusamus porro.
  </p>
  <fa-icon [icon]="faHeart" #r (click)="liked(r,$event)"></fa-icon>

</div>
<div class="flex-container">
  <p>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse, a rerum sint deserunt exercitationem consequuntur
    vel. Ullam, eius. Asperiores praesentium numquam corrupti iusto soluta eum animi quam eveniet accusamus porro.
  </p>
    <fa-icon [icon]="faHeart" #r (click)="liked(r,$event)"></fa-icon>

</div>
