<p>left-text works!</p>
<div class="text middle bluelight">
  "Text"
</div>
<div class="flex-row">
  <table>
    <tr>
      <td>Text</td>
      <td>Hi</td>
    </tr>
    <tr>
      <td>Text</td>
      <td>Hi</td>
    </tr>
    <tr>
      <td>Text</td>
      <td>Hi</td>
    </tr>
    <tr>
      <td>Text</td>
      <td>Hi</td>
    </tr>
    <tr>
      <td>Text</td>
      <td>Hi</td>
    </tr>
    <tr>
      <td>Text</td>
      <td>Hi</td>
    </tr>
    <tr>
      <td>Text</td>
      <td>Hi</td>
    </tr>
    <tr>
      <td>Text</td>
      <td>Hi</td>
    </tr>
  </table>
</div>
